.login{
    height: 700px;
    width: 781px;
    /* margin-left: 101px; */
    /* border-radius: 8px; */
}
.mgnt{
    margin-top: -6.3rem;
}

@media(max-width: 767px){
    .login {
        height: 700px;
        width: 23rem;
        /* margin-left: 101px; */
        /* border-radius: 8px; */
    }}
.login-img{
    margin-top: 100px;
}
@media(max-width: 767px){
    .loginfrm {
        max-height: 326px;
        max-width: 19rem;
        left: 934px;
        top: 227.5px;
        border-radius: 0px;
        margin-bottom: 10rem;
    }}
.loginfrm{
   
    height: 326px;
width: 371px;
left: 934px;
top: 227.5px;
border-radius: 0px;



    margin-top: 160px;
}
.u{ 
margin-bottom: 6rem;
    background: linear-gradient(to left, #f1eaed, #e9e8e5 100%);
    background-position: 0 100%;
    background-size: 100% 2px;
    background-repeat: repeat-x;

    /* margin: 4%;
    font-size: 1.2em;
    /* text-decoration: underline; */
    /* text-decoration-color: green; */
    /* text-decoration-style: solid ;   */
    /* text-decoration: underline blue;  */

    /* text-decoration-color: red; */
}



/* Signup css */
.imgg{height: 9.705750465393066px;
    width: 18.752893447875977px;
    left: 1.5166015625px;
    top: 0px;
    border-radius: 0px;
    
    position: absolute;
left: 6.32%;
right: 15.54%;
top: 0%;
bottom: 59.56%;

background: #EA4335;
}
.btnc{
    background: #950000;

}
@media(max-width: 767px){
   .body11 {
    margin-top: 8rem;
    width: 100%;
    /* background: #EEECEB; */
    /* background: #E4E5E7; */
    border-top: 1px solid #E4E5E7;
    
}}